* {
    display:flex;
    box-sizing: border-box;
    background-color: #ffff99;
    flex-direction:column;
}

.box {
    margin-left:5%;
    margin-bottom:10px;
}
.box h2 {
    font-family: 'Itim', cursive;
    font-size:30px;
}

.text {
    width:40%;
    border:1px solid #ffdf80;
    border-radius:10px;
    background-color:#ffdf80;
    box-shadow:10px 5px 5px gray;
}

.text p {
    font-family: 'Jua', sans-serif;
    font-size:20px;
    background-color:#ffdf80;
}

p {
    margin-left:10px;
}

.buttons {
    flex-direction: row;
    margin:35px 0px 0px 10px;

}

.buttons a {
    font-size:25px;
    font-family: 'Jua', sans-serif;
    margin:0px 50px 0px 0px;
    color:black;
}

form {
    flex-direction:row;
    margin-left:7%;
    margin-top:25px;
    height:40px;
}

input {
    width:30%;
    margin-right:15px;
    font-family: 'Jua', sans-serif;
    background-color: white;

}

button {
    justify-content: center;
    border-radius:15px;
    background-color:#ccffff;
    font-family: 'Jua', sans-serif;
    border:1px solid gray;

}

.comments {
    margin-top:20px;
    margin-left:9%;
    width:30%;
}

.comments li {
    flex-direction: row;
    font-family: 'Jua', sans-serif;
    font-size:17px;
    border:1px solid gray;
    justify-content: space-between;
    padding:5px;
    background-color:#ccffff;
    border:1px solid gray;
    border-radius:10px;
    margin-bottom:5px;
}

.comments a {
    background-color: #ccffff;
    color:red;
    text-decoration: none;
}

.buttons a:hover {
    color:gray;
}

.comments a:hover {
    color:purple;
}