<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    {% block css %}

    {% endblock css %}
    <title></title>
</head>
<body>
    <nav class="bar">
        <ul class="in_bar">
            <li>
                <a class="b_content" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a class="b_content"href="{% url 'new' %}">Add-Post</a>
            </li>
        </ul>
    </nav>
    {% block content %}
     
    {% endblock content %}
</body>
</html>