* {
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    background-color: #ffff99;
}

.body {
    justify-content: center;
    align-items: center;
    width:100%;
}

.head {
    justify-content: center;
    align-items: center;
    font-family: 'Itim', cursive;
    margin-top:30px;
    font-size:30px;
}

.whole {
    justify-content:center;
    align-items: center;
}
form {
    width:50%;  
}
.form_box {
    justify-content: center;
    align-items: center;
}
input {
    background-color:#ffdf80;
    font-family: 'Jua', sans-serif;
    color:black;
    border:2px solid #ffb366;
    border-radius:5px;
    font-size:20px;
    width:30%;
}

.s_box {
    align-items: center;
    justify-content: center;
    margin-top:25px;
}

button {
    width:20%;
    font-size:25px;
    font-family: 'Jua', sans-serif;
    background-color:#ffa64d;
    border:2px solid #ffa64d;
    border-radius:5px;
    justify-content: center;
    align-items: center;

}

script {
    display:none;
}