* {
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color:lightyellow;
    justify-content: center;
}

head {
    height:0px;
}

.title {
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    justify-content: center;
    align-items: center;
    font-size:70px;
    width:40%;
    border-bottom:3px solid black;
}

.contents {
    font-family: 'Gamja Flower', cursive;
    justify-content:center;
    align-items: center;
    width:100%;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size:45px;
    margin:10px;
    border-bottom:2px solid black;
}
.postings {
    width:40%;
    justify-content: center;
    align-items: center;
    border:3px double #0099FF;
    border-radius: 10px;

}

.list {
    width:45%;
    font-size:25px;
}

a {
    margin:3px;
    color:black;
}

.home {
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}

.home a {
    font-family: 'Gamja Flower', cursive;
    font-size:25px;
    width:20%;
    align-items: center;
}