{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
{% endblock css %}
{% block content %}
<div class="head">
    <h1>Sign-Up</h1>
</div>
<div class="whole">
    <form method="POST">
        <div class="form_box">
            {% csrf_token %}
            <input type="text" id ="id" name="username" placeholder="ID" onkeydown="CheckInputValid()" />
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="s_box">
            <button type="submit">Sign-Up!</button>
        </div>
    </form>
</div>
{% if error %}
<h3>{{ error}}</h3>
{% endif %}
{% endblock content %}

</script>