* {
    font-family: 'Gamja Flower', cursive;
    display:flex;
}

body {
    margin:30px;
    width:100%;
    height:100%;
    background-color:antiquewhite;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.area {
    top:300px;
    border:4px solid burlywood;
    flex-direction:column;
    border-radius:30px;
    justify-content: center;
    align-items:center;
}

.area h1 {
    margin:45px;
}

.area form {
    flex-direction:column;
    width:90%;
}
.area textarea {
    margin:0;
    border-radius:10px;
    border:2px solid chocolate;
    height:100%;
}

.area input {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:lemonchiffon;
    margin:10px;
    height:30px;
    border-radius:10px;
}