<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'postings.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Pacifico&display=swap" rel="stylesheet">
    <title></title>
</head>

<body>
    <div class="title">
        <h1>My Blog<h1>
    </div>

    <div class="contents">
        <div class="postings">
            <h3>Dramas</h3>
            <div class="list">
                {% for article in articles %}
                <ul>
                    <li>
                        <a href="{% url 'detail' article.pk %}">{{article.title}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="home">
        <a href="{% url 'index' %}">홈 화면으로</a>
    </div>
</body>

</html>