<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Pacifico&display=swap" rel="stylesheet">
    <title></title>
</head>

<body>
        <div class="headline">
            <h2 id="new">새 글 작성하기</h2>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <select name="category">
                <option value="movie">영화</option>
                <option value="drama">드라마</option>
                <option value="programming">프로그래밍</option>
            </select>
            <input name="title" placeholder="제목을 입력하세요">
            <textarea name="article" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
            <button type="submit">저장하기</button>
        </form>
</body>
</html>