<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit_new.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title></title>
</head>

<body>
    <div class="head">
        <h1>EDIT-POST</h1>
    </div>
    <div class="whole">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form_box">
                <div class="input">
                    <label for="title">To-Do</label>
                    <input type="text" id="title" name="title" value="{{ post.title }}">
                </div>
                <div class="input">
                    <label for="content">Detail</label>
                    <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
                </div>
                <div class="input">
                    <label for="date">Due-Date</label>
                    <input type="date" id="date" name="date" value="{{ post.date }}">
                </div>
            </div>
            <div class="s_box">
                <button type="submit">수정하기</button>
            </div>
        </form>
    </div>

</body>

</html>